.box {
    padding: 10px;
}
.box-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.bottom-box {
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 500px) {
    .box-wrapper {
      display: contents;
    }

    .bottom-box {
        padding: 10px;
    }
    
    .wrapper {
      flex-direction: column-reverse;
    }
  }